* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-div {
  display: flex;
  justify-content: center;
  margin: 30px;

  border: solid red;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 7px;
}
.input {
  font-size: 20px;
  background: none;
  outline: none;
  border: none;
  width: 35vw;
  height: 40px;
}
.input-button {
  width: 3vw;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
